<a href="https://colab.research.google.com/github/chairulimamizaaz/West-Java-earthquake/blob/main/West_Java_earthquake.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Display Dataset**

**Cleansing Dataset**

mengambil yang di perlukan saja, yang di tidak di pakai dan untuk yang akan di gunakan adalah
*   tgl
*   ot
*   depth
*   mag
*   remark

In [ ]:
import pandas as pd
data_gempa1 = '/content/drive/MyDrive/dataset/katalog_gempa.csv'
data = pd.read_csv(data_gempa1)

In [ ]:
print("Data sebelum membersihkan:")
display(data)

Data sebelum membersihkan:

,tgl,ot,lat,lon,depth,mag,remark,strike1,dip1,rake1,strike2,dip2,rake2
0,2008/11/01,21:02:43.058,-9.18,119.06,10,4.9,Sumba Region - Indonesia,NaN,NaN,NaN,NaN,NaN,NaN
1,2008/11/01,20:58:50.248,-6.55,129.64,10,4.6,Banda Sea,NaN,NaN,NaN,NaN,NaN,NaN
2,2008/11/01,17:43:12.941,-7.01,106.63,121,3.7,Java - Indonesia,NaN,NaN,NaN,NaN,NaN,NaN
3,2008/11/01,16:24:14.755,-3.30,127.85,10,3.2,Seram - Indonesia,NaN,NaN,NaN,NaN,NaN,NaN
4,2008/11/01,16:20:37.327,-6.41,129.54,70,4.3,Banda Sea,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92882,2023/01/26,02:25:09.288,3.24,127.18,10,4.0,Talaud Islands - Indonesia,NaN,NaN,NaN,NaN,NaN,NaN
92883,2023/01/26,02:15:03.893,2.70,127.10,10,3.9,Northern Molucca Sea,NaN,NaN,NaN,NaN,NaN,NaN
92884,2023/01/26,01:57:08.885,-7.83,121.07,10,3.8,Flores Sea,NaN,NaN,NaN,NaN,NaN,NaN
92885,2023/01/26,01:46:21.009,3.00,127.16,10,4.1,Northern Molucca Sea,NaN,NaN,NaN,NaN,NaN,NaN
92886,2023/01/26,00:00:35.181,-8.87,118.95,10,2.4,Sumbawa Region - Indonesia,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.sample(10)

,tgl,ot,lat,lon,depth,mag,remark,strike1,dip1,rake1,strike2,dip2,rake2
62289,2020/02/10,20:54:16.755,-2.75,121.01,10,2.0,Sulawesi - Indonesia,NaN,NaN,NaN,NaN,NaN,NaN
91454,2022/12/22,20:29:59.279,-8.65,116.32,91,2.8,Sumbawa Region - Indonesia,NaN,NaN,NaN,NaN,NaN,NaN
16271,2013/12/19,06:05:15.591,-10.20,116.46,10,4.1,South of Sumbawa - Indonesia,NaN,NaN,NaN,NaN,NaN,NaN
74935,2021/06/25,16:00:26.557,-0.04,124.16,49,2.8,Southern Molucca Sea,NaN,NaN,NaN,NaN,NaN,NaN
22524,2015/10/05,05:06:58.946,1.92,99.59,176,3.5,Northern Sumatra - Indonesia,NaN,NaN,NaN,NaN,NaN,NaN
51159,2019/02/13,18:49:32.009,-0.62,120.91,10,2.7,Minahassa Peninsula - Sulawesi,NaN,NaN,NaN,NaN,NaN,NaN
72183,2021/03/25,19:00:31.309,0.87,126.51,16,3.1,Northern Molucca Sea,NaN,NaN,NaN,NaN,NaN,NaN
25446,2016/03/10,03:06:25.401,-9.46,113.92,10,3.2,South of Java - Indonesia,NaN,NaN,NaN,NaN,NaN,NaN
10859,2011/12/08,21:54:02.926,-4.48,126.13,363,4.2,Banda Sea,NaN,NaN,NaN,NaN,NaN,NaN
47639,2018/11/15,12:33:30.501,-2.78,119.44,10,3.5,Sulawesi - Indonesia,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92887 entries, 0 to 92886
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tgl      92887 non-null  object
 1   ot       92887 non-null  object
 2   lat      92887 non-null  float64
 3   lon      92887 non-null  float64
 4   depth    92887 non-null  int64
 5   mag      92887 non-null  float64
 6   remark   92887 non-null  object
 7   strike1  2735 non-null   float64
 8   dip1     2735 non-null   float64
 9   rake1    2735 non-null   float64
 10  strike2  2735 non-null   float64
 11  dip2     2735 non-null   float64
 12  rake2    2735 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 9.2+ MB

In [ ]:
data['tgl'] = pd.to_datetime(data['tgl'])
data['ot'] = pd.to_datetime(data['ot'])

In [ ]:
data['tahun'] = data['tgl'].dt.year
data['bulan'] = data['tgl'].dt.month_name()
data['hari'] = data['tgl'].dt.day_name()
data['waktu'] = data['ot'].dt.strftime('%H:%M:%S.%f').str[:-3]
# data = data.drop(columns=['ot'])

In [ ]:
kolom_tidak_diperlukan = ['strike1', 'dip1', 'rake1', 'strike2', 'dip2', 'rake2']
data_cleaned = data.drop(columns=kolom_tidak_diperlukan)

In [ ]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92887 entries, 0 to 92886
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tgl     92887 non-null  datetime64[ns]
 1   ot      92887 non-null  datetime64[ns]
 2   lat     92887 non-null  float64
 3   lon     92887 non-null  float64
 4   depth   92887 non-null  int64
 5   mag     92887 non-null  float64
 6   remark  92887 non-null  object
 7   tahun   92887 non-null  int64
 8   bulan   92887 non-null  object
 9   hari    92887 non-null  object
 10  waktu   92887 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(2), object(4)
memory usage: 7.8+ MB

In [ ]:
data = data_cleaned[['tgl', 'waktu', 'hari', 'bulan', 'tahun', 'depth', 'mag', 'remark', 'lat', 'lon']]
display(data)

,tgl,waktu,hari,bulan,tahun,depth,mag,remark,lat,lon
0,2008-11-01,21:02:43.058,Saturday,November,2008,10,4.9,Sumba Region - Indonesia,-9.18,119.06
1,2008-11-01,20:58:50.248,Saturday,November,2008,10,4.6,Banda Sea,-6.55,129.64
2,2008-11-01,17:43:12.941,Saturday,November,2008,121,3.7,Java - Indonesia,-7.01,106.63
3,2008-11-01,16:24:14.755,Saturday,November,2008,10,3.2,Seram - Indonesia,-3.30,127.85
4,2008-11-01,16:20:37.327,Saturday,November,2008,70,4.3,Banda Sea,-6.41,129.54
...,...,...,...,...,...,...,...,...,...,...
92882,2023-01-26,02:25:09.288,Thursday,January,2023,10,4.0,Talaud Islands - Indonesia,3.24,127.18
92883,2023-01-26,02:15:03.893,Thursday,January,2023,10,3.9,Northern Molucca Sea,2.70,127.10
92884,2023-01-26,01:57:08.885,Thursday,January,2023,10,3.8,Flores Sea,-7.83,121.07
92885,2023-01-26,01:46:21.009,Thursday,January,2023,10,4.1,Northern Molucca Sea,3.00,127.16
92886,2023-01-26,00:00:35.181,Thursday,January,2023,10,2.4,Sumbawa Region - Indonesia,-8.87,118.95

In [ ]:
print("Nilai Null dalam DataFrame:")
print(data.isnull().sum())
print("\nJumlah Baris Duplikat dalam DataFrame:", data.duplicated().sum())

Nilai Null dalam DataFrame:
tgl       0
waktu     0
hari      0
bulan     0
tahun     0
depth     0
mag       0
remark    0
lat       0
lon       0
dtype: int64

Jumlah Baris Duplikat dalam DataFrame: 2735

In [ ]:
data[data.duplicated()]

,tgl,waktu,hari,bulan,tahun,depth,mag,remark,lat,lon
8740,2011-06-27,16:47:15.707,Monday,June,2011,139,5.7,Savu Sea,-9.28,122.46
8802,2011-07-04,05:17:37.048,Monday,July,2011,10,3.4,Northern Sumatra - Indonesia,4.37,97.52
8805,2011-07-05,19:09:11.444,Tuesday,July,2011,13,4.8,Off West Coast of Northern Sumatra,1.45,96.95
8911,2011-07-19,03:18:38.252,Tuesday,July,2011,10,5.1,Near North Coast of Irian Jaya,-1.27,137.83
9027,2011-08-06,14:43:30.702,Saturday,August,2011,10,4.8,Seram - Indonesia,-3.11,130.92
...,...,...,...,...,...,...,...,...,...,...
92800,2023-01-24,02:13:19.875,Tuesday,January,2023,52,5.9,Northern Molucca Sea,2.84,127.04
92802,2023-01-24,01:10:25.606,Tuesday,January,2023,10,5.0,Northern Molucca Sea,2.81,127.03
92806,2023-01-25,19:10:59.342,Wednesday,January,2023,23,4.6,South of Java - Indonesia,-10.76,111.74
92865,2023-01-26,06:33:44.219,Thursday,January,2023,10,4.8,Northern Molucca Sea,2.93,127.03
92873,2023-01-26,04:23:50.693,Thursday,January,2023,10,5.7,Talaud Islands - Indonesia,3.09,127.08

In [ ]:
data[data.duplicated(keep=False)]

,tgl,waktu,hari,bulan,tahun,depth,mag,remark,lat,lon
8739,2011-06-27,16:47:15.707,Monday,June,2011,139,5.7,Savu Sea,-9.28,122.46
8740,2011-06-27,16:47:15.707,Monday,June,2011,139,5.7,Savu Sea,-9.28,122.46
8801,2011-07-04,05:17:37.048,Monday,July,2011,10,3.4,Northern Sumatra - Indonesia,4.37,97.52
8802,2011-07-04,05:17:37.048,Monday,July,2011,10,3.4,Northern Sumatra - Indonesia,4.37,97.52
8804,2011-07-05,19:09:11.444,Tuesday,July,2011,13,4.8,Off West Coast of Northern Sumatra,1.45,96.95
...,...,...,...,...,...,...,...,...,...,...
92806,2023-01-25,19:10:59.342,Wednesday,January,2023,23,4.6,South of Java - Indonesia,-10.76,111.74
92864,2023-01-26,06:33:44.219,Thursday,January,2023,10,4.8,Northern Molucca Sea,2.93,127.03
92865,2023-01-26,06:33:44.219,Thursday,January,2023,10,4.8,Northern Molucca Sea,2.93,127.03
92872,2023-01-26,04:23:50.693,Thursday,January,2023,10,5.7,Talaud Islands - Indonesia,3.09,127.08
92873,2023-01-26,04:23:50.693,Thursday,January,2023,10,5.7,Talaud Islands - Indonesia,3.09,127.08

In [ ]:
data_no_dup = data.drop_duplicates()

In [ ]:
data_no_dup[data_no_dup.duplicated()]

Empty DataFrame
Columns: [tgl, waktu, hari, bulan, tahun, depth, mag, remark, lat, lon]
Index: []

In [ ]:
data_gempa2 = '/content/drive/MyDrive/dataset/bpbd-od_17602_jml_kejadian_bencana_gempa_bumi__kabupatenkota_data.csv'
data2= pd.read_csv(data_gempa2)
data2

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_gempa_bumi,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,3,KEJADIAN,2012
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,41,KEJADIAN,2012
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,0,KEJADIAN,2012
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,0,KEJADIAN,2012
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,0,KEJADIAN,2012
...,...,...,...,...,...,...,...,...
292,293,32,JAWA BARAT,3275,KOTA BEKASI,0,KEJADIAN,2022
293,294,32,JAWA BARAT,3276,KOTA DEPOK,0,KEJADIAN,2022
294,295,32,JAWA BARAT,3277,KOTA CIMAHI,0,KEJADIAN,2022
295,296,32,JAWA BARAT,3278,KOTA TASIKMALAYA,0,KEJADIAN,2022
296,297,32,JAWA BARAT,3279,KOTA BANJAR,0,KEJADIAN,2022